@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ------------------- Barra de Navegação --------------------- */
.containerMenu {
    opacity: 0;
    padding: 5px;
    font-family: 'Poppins';
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

/* Logo animation */
.logoAnimation {
    position: absolute;
}
.auxLogo {
    transition: .65s;
    opacity: 100%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #271655;
}
#logo {
    transition: 1s;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
/* Logo NavBar */

.logoNav {
    border-radius: 5px;
    position: relative;
    transform: translateY(-120px);
    transition: 0.65s;
}

.logoNav img {
    height: 150px;
    width: 125px;
    background-color: transparent;
}

/* Links Nav */
.linksNav {
    height: 90%;
    width: auto;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 25px;
    box-shadow: 3px 3px 5px #0000006c;
    z-index: -1;
    transition: .65s;
}
.linksNav a {
    padding: 5px;
    font-size: 1em;
    font-weight: 500;
    color: #f1f1f1;
    margin: 0 20px;
    text-decoration: none;
}
.linksNav ul {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 15px;
    list-style: none;
}
.btnJoin {
    display: flex;
    height: 50%;
    width: 90px;
    align-self: center;
}
.btnJoin button {
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 3px 3px 5px #0000006e;
    width: 100%;
    border-radius: 15px;
    border: none;
}
/* ------------------Conteudo Home --------------------*/
/* Design Home */
.conteudoHome {
    width: 100%;
    height: 100vh;
    background-color: #271655;
    display: flex;
    justify-content: center;
}
.folhaD {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 250px;
    opacity: 0;
    transition: .65s;
}
.folhaE {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    opacity: 0;
    transition: .65s;
}
.plateia {
    position: absolute;
    bottom: 0;
}
.imgCeu {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Info Home */
.divHomeContent {
    width: 55%;
    height: 70%;
    position: absolute;
    justify-self: center;
    align-self: center;
}
/* ------------------Conteudo 1 --------------------*/
.conteudo1 {
    width: 100%;
    height: 97vh;
    background-color: #20173a;
}
/* ------------------Conteudo 2 --------------------*/
.conteudo2 {
    width: 100%;
    height: 97vh;
    background-color: #322557;
}